<!-- //Template helps us create lots of pages with similar title -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>

    <h1>  <%= kindOfDay %> </h1>

    <ul>
        <li>Study wd</li>
        <li>study devops</li>
        <li>study dp</li>

        <% for(var i =0; i< newListItems.length;i++) { %>
        <li><%= newListItems[i] %> </li>
        <% } %> 
    </ul>

    <form action="/" method="POST">
    
    <input type="text" placeholder="type your todo" name="newitem">
    <button type="submit" name="button">ADD</button>
    </form>
</body>
</html>